{% extends "base.html" %}

{% block texto %}

<p>
    Instructor<br>
    <b>{{ user.instructor }}</b><br>
    {{ user.email }}
</p>
<br>
<p>Asunto:<b>Alistamiento programas formación complementaria virtual</b></p>
<br>
<p>Cordial saludo, esperamos se encuentre muy bien,</p>
<br>
<p>La Coordinación de Formación Virtual del CSF, le asigna como instructor de las competencias técnicas para las siguientes fichas en la ejecución de la formación profesional modalidad virtual 2024. Agradezcemos, establecer contacto para concertar las actividades correspondientes con el equipo Ejecutor de acuerdo con las fechas de formación indicadas, con el fin de que se pueda adelantar la ejecución de las actividades del componente, de acuerdo con la Guía de orientaciones para la Formación en Ambientes Virtuales de Aprendizaje –AVA GFPI–G-014 Versión 04 </p>
<br>
</div>
<div align=center>
    <table border="1" bordercolor="666633" cellpadding="1" cellspacing="0">
        <tr>
            <th width=96>
                <p><b>Nivel</b></p>
            </th>
            <th width=308>
                <p><b>Programa</b></p>
            </th>
            <th width=96>
                <p><b>Ficha</b></p>
            </th>
            <th width=106>
                <p><b>Fecha Inicio Ficha</b></p>
            </th>
            <th width=106>
                <p><b>Rol</b></p>
            </th>
            <th width=126>
                <p><b>Competencia</b></p>
            </th>
        </tr>

        {% for ficha in user.fichas %}

        <tr>
            <td width=96>
                <p align=center>{{ ficha[0] }}</p>
            </td>
            <td width=308>
                <p align=center>{{ ficha[1] }}</p>
            </td>
            <td width=96>
                <p align=center>{{ ficha[2] }}</p>
            </td>
            <td width=106>
                <p align=center>{{ ficha[3] }}</p>
            </td>
            <td width=106>
                <p align=center>{{ ficha[4] }}</p>
            </td>
            <td width=126>
                <p align=center>{{ ficha[5] }}</p>
            </td>
        </tr>

        {% endfor %}

    </table>
</div>
<br>

{% endblock %}